<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />

  <title>首页</title>

  <!--layui的核心JS文件（采用模块化引入）-->
  <script src="/static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
  <!--layui的核心CSS文件-->
  <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />

  <!--引入bootstrap和jquery：-->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">


  <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jqthumb.min.js"></script>


</head>

<body>
<!--  style="z-index:-1;"  在文本的后面出现(背景)  -->
<!--  style="position:absolute;"  元素定位是绝对的  -->
<div style="position:absolute;z-index:-1;width:100%;height:100%;top:0px;left:0px;">
  <img src="/static/img/bgpic.jpg" width="100%" height="100%">
</div>

<br>
<br>
<img src="https://public-cdn.mokahr.com/5c52f1f1-824b-402d-972a-f2196c8ee3be.png"
     style="position:absolute;left:30px;width:350px;height:80px">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

  <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-2">
          <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="thumbnail" style="background-color: rgba(216, 216, 216, 85%);">
                  <a href="http://172.16.2.86:8080/case/show_cases?business=0" title="最右测试平台" target="_blank">
                      <div style="text-align:center;">
                          <img src="https://i.loli.net/2021/09/23/8QgfHpxX4GJzL5r.png" alt="最右测试平台" width="60">
                          <a href="http://172.16.2.86:8080/case/show_cases?business=0" title="最右测试平台"
                              target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                              <font size="3">最右测试平台</font>
                          </a>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="thumbnail" style="background-color: rgba(216, 216, 216, 85%);">
                  <a href="https://git.ixiaochuan.cn" title="最右gitlab" target="_blank">
                      <div style="text-align:center;">
                          <img src="https://i.loli.net/2021/09/23/xENX5f4rYeonZCI.png" alt="最右gitlab" width="60">
                          <a href="https://git.ixiaochuan.cn" title="最右gitlab" target="_blank"
                              style="color: rgb(0, 0, 0); line-height: 30px;">
                              <font size="3">最右gitlab</font>
                          </a>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="thumbnail" style="background-color: rgba(216, 216, 216, 85%);">
                  <a href="https://www.tapd.cn/37606053/bugtrace/bugreports/my_view?left_tree=1" title="最右TAPD平台"
                      target="_blank">
                      <div style="text-align:center;">
                          <img src="https://i.loli.net/2021/09/23/myeCopGFHg2qKx4.png" alt="最右TAPD平台" width="60">
                          <a href="https://www.tapd.cn/37606053/bugtrace/bugreports/my_view?left_tree=1"
                              title="最右TAPD平台" target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                              <font size="3">最右TAPD平台</font>
                          </a>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      
  </div>

  <br>
  <br>

  <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-2">
          <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="thumbnail" style="background-color: rgba(216, 216, 216, 85%);">
                  <a href="http://192.168.11.123:8777/ios_case_manager/?type=zuiyou&sel=all" title="最右UI自动化平台" target="_blank">
                      <div style="text-align:center;">
                          <img src="https://i.loli.net/2021/09/23/sOB7wmKeIrSVHik.png" alt="最右UI自动化平台" width="60">
                          <a href="http://192.168.11.123:8777/ios_case_manager/?type=zuiyou&sel=all" title="最右UI自动化平台" target="_blank"
                              style="color: rgb(0, 0, 0); line-height: 30px;">
                              <font size="3">UI自动化平台</font>
                          </a>
                      </div>
                  </a>
              </div>
          </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="thumbnail" style="background-color: rgba(216, 216, 216, 90%);">
                  <a href="http://192.168.10.118:8000"
                      title="mock数据平台" target="_blank">
                      <div style="text-align:center;">
                          <img src="https://i.loli.net/2021/09/23/e73SHAGftnNwUFY.png" alt="mock数据平台" width="60">
                          <a href="http://192.168.10.118:8000"
                              title="mock数据平台" target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                              <font size="3">mock数据平台</font>
                          </a>
                      </div>
                  </a>
              </div>
          </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="thumbnail" style="background-color: rgba(216, 216, 216, 90%);">
                  <a href="https://op-test.ixiaochuan.cn/op/recommend/abtestexp/60e3fa17ab9bad551c82d547/zy_transmit_button/strategies"
                      title="最右测试op" target="_blank">
                      <div style="text-align:center;">
                          <img src="https://i.loli.net/2021/09/23/6rktnM9A5YiglFu.png" alt="最右测试op" width="60">
                          <a href="https://op-test.ixiaochuan.cn/op/recommend/abtestexp/60e3fa17ab9bad551c82d547/zy_transmit_button/strategies"
                              title="最右测试op" target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                              <font size="3">最右测试op</font>
                          </a>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>

</div>

</body>

</html>



