<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />

  <title>首页</title>

  <!--layui的核心JS文件（采用模块化引入）-->
  <script src="/static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
  <!--layui的核心CSS文件-->
  <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />

  <!--引入bootstrap和jquery：-->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">


  <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jqthumb.min.js"></script>


  <!--
  <style>
      body {
          background-attachment: fixed;
          background-image: url(img/bgpic.jpg);
      }
  </style>
-->



</head>

<body>
<!--  style="z-index:-1;"  在文本的后面出现(背景)  -->
<!--  style="position:absolute;"  元素定位是绝对的  -->
<div style="position:absolute;z-index:-1;width:100%;height:100%;top:0px;left:0px;">
  <img src="/static/img/bgpic.jpg" width="100%" height="100%">
</div>

<br>
<br>
<img src="https://public-cdn.mokahr.com/5c52f1f1-824b-402d-972a-f2196c8ee3be.png"
     style="position:absolute;left:30px;width:350px;height:80px">
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

  <div class="row">

    <div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-2">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="http://regan.ixiaochuan.cn/auth/login?next=%2F" title="最右发布系统" target="_blank">
            <div style="text-align:center;">
              <img src="http://172.16.2.86:8080/static/img/zuiyouicon.png" alt="最右发布系统" width="40">
              <a href="http://regan.ixiaochuan.cn/auth/login?next=%2F" title="最右发布系统" target="_blank"
                 style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">最右发布系统</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="http://consul.ixiaochuan.cn/ui/shal/services" title="最右consul" target="_blank">
            <div style="text-align:center;">
              <img src="http://172.16.2.86:8080/static/img/zuiyouicon.png" alt="最右consul" width="40">
              <a href="http://consul.ixiaochuan.cn/ui/shal/services" title="最右consul" target="_blank"
                 style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">最右consul</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="http://sso.pe.ixiaochuan.cn/?next_url=http://zbox.pe.ixiaochuan.cn/#/dashboard"
             title="最右Devops平台" target="_blank">
            <div style="text-align:center;">
              <img src="http://172.16.2.86:8080/static/img/zuiyouicon.png" alt="最右Devops平台" width="40">
              <a href="http://sso.pe.ixiaochuan.cn/?next_url=http://zbox.pe.ixiaochuan.cn/#/dashboard"
                 title="最右Devops平台" target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">最右Devops平台</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">

    <div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-2">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="https://op.ixiaochuan.cn/op/recommend/abtestexp/60e3fa17ab9bad551c82d547/zy_transmit_button/strategies"
             title="最右线上op" target="_blank">
            <div style="text-align:center;">
              <img src="http://172.16.2.86:8080/static/img/zuiyouicon.png" alt="最右线上op" width="40">
              <a href="https://op.ixiaochuan.cn/op/recommend/abtestexp/60e3fa17ab9bad551c82d547/zy_transmit_button/strategies"
                 title="最右线上op" target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">最右线上op</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="https://op-test.ixiaochuan.cn/op/recommend/abtestexp/60e3fa17ab9bad551c82d547/zy_transmit_button/strategies"
             title="最右测试op" target="_blank">
            <div style="text-align:center;">
              <img src="http://172.16.2.86:8080/static/img/zuiyouicon.png" alt="最右测试op" width="40">
              <a href="https://op-test.ixiaochuan.cn/op/recommend/abtestexp/60e3fa17ab9bad551c82d547/zy_transmit_button/strategies"
                 title="最右测试op" target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">最右测试op</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="http://172.16.2.86:8080/case/show_cases?business=0" title="最右测试平台" target="_blank">
            <div style="text-align:center;">
              <img src="http://172.16.2.86:8080/static/img/zuiyouicon.png" alt="最右测试平台" width="41">
              <a href="http://172.16.2.86:8080/case/show_cases?business=0" title="最右测试平台"
                 target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">最右测试平台</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-2">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="http://grafana.ixiaochuan.cn/login" title="最右grafana" target="_blank">
            <div style="text-align:center;">
              <img src="http://navi.ixiaochuan.cn/static/images/grafana.svg" alt="最右grafana" width="39">
              <a href="http://grafana.ixiaochuan.cn/login" title="最右grafana" target="_blank"
                 style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">最右grafana</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="http://kfk.ixiaochuan.cn/" title="最右kafka" target="_blank">
            <div style="text-align:center;">
              <img src="http://kafka.apache.org/logos/kafka_logo--simple.png" alt="最右kafka" width="78">
              <a href="http://kfk.ixiaochuan.cn/" title="最右kafka" target="_blank"
                 style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">最右kafka</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="thumbnail" style="background-color: rgb(216, 216, 216);">
          <a href="https://doc.ixiaochuan.cn/login.action?os_destination=%2Findex.action&permissionViolation=true"
             title="Confluence" target="_blank">
            <div style="text-align:center;">
              <img src="http://navi.ixiaochuan.cn/static/images/confluence.png" alt="Confluence" width="42">
              <a href="https://doc.ixiaochuan.cn/login.action?os_destination=%2Findex.action&permissionViolation=true"
                 title="Confluence" target="_blank" style="color: rgb(0, 0, 0); line-height: 30px;">
                <font size="3">Confluence</font>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>



