{{template "head.html" .}}



<form class="layui-form layui-form-pane" action="/case/update_one_case/" method="post" style="padding: 1%">

    <input type="text" style="display: none" name="id" class="_id" value={{.a.Id}} >
    <input type="text" name="api_name" value="api_name" style="display: none">
    <input type="text" name="level" value="none" style="display: none">
<!--    冒烟数据在这里，修改和展示都在这 默认隐藏 调试可以展开-->
    <input type="text" name="smoke_response" id="smoke_response" style="display: none" value="{{.a.SmokeResponse}}">
    
    <!--    <input type="text" name="id" value="0" style="display: none">-->
    <!--    <input type="text" name="created_at" value="none" style="display: none">-->
    <!--    <input type="text" name="updated_at" value="none" style="display: none">-->

    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">业务-服务</label>
            <div class="layui-input-inline">
                <select name="business_code" lay-filter="business" id="business">
<!--                    <option selected value={{.a.BusinessCode}}>{{.a.BusinessName}}</option>-->
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="service_name" lay-filter="services" id="services">
<!--                    <option selected>{{.a.ServiceName}}</option>-->
                </select>
            </div>
        </div>

        <div class="layui-inline">
                <label class="layui-form-label">添加人</label>
                <div class="layui-input-block">
                    <input type="text" name="author" lay-verify="required" autocomplete="off" placeholder="请输入标题"
                           class="layui-input" value={{.a.Author}} >
                </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用例名称</label>
        <div class="layui-input-block" style="width: 50%">
            <input type="text" name="case_name" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input"
                   value= {{.a.CaseName}} >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用例描述</label>
        <div class="layui-input-block" style="width: 50%">
            <input type="text" name="description" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input"
                   value={{.a.Description}}>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">请求</label>
        <div class="layui-input-inline">
            <select name="request_method" id="request_method">
                {{if eq .a.RequestMethod "POST"}}
                <option value="POST" selected>POST</option>
                <option value="GET">GET</option>
                {{else}}
                <option value="POST">POST</option>
                <option value="GET" selected>GET</option>
                {{end}}
            </select>
        </div>
        <div class="layui-input-inline" style="width: 45%">
            <input type="text" id="api_url" name="api_url" lay-verify="required"
                   placeholder="例:http://api.izuiyou.com/index/recommend" autocomplete="off" class="layui-input" value={{.a.ApiUrl}}>
        </div>
<!--        <button type="button" class="layui-btn layui-btn-normal" id="make">组合校验点</button>-->
        <button type="button" class="layui-btn layui-btn-normal" id="edit_point">编辑校验点</button>
        <button type="button" class="layui-btn layui-btn-normal" id="test">手动调试</button>
    </div>


    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 45%;">
            <label class="layui-form-label">请求参数</label>
            <div class="layui-input-block" >
            <textarea placeholder="请输入内容" style="height: 200px" class="layui-textarea" lay-verify="required"
                      name="parameter" id="request_param">{{.a.Parameter}}</textarea>
            </div>
        </div>
        <div class="layui-inline" style="width: 45%; float:right; margin-right: 8%">
            <span id="response_param_tip">当前值为上次入库的冒烟数据</span>
            <div class="layui-input-block" id="response_param" style="height:450px;overflow: scroll;"></div>
        </div>

        <div class="layui-inline" style="width: 45%;">
            <label class="layui-form-label">检查点</label>
            <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" style="height: 200px" id="check_point"
                      name="check_point" lay-verify="required" readonly>{{.a.Checkpoint}}</textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交修改</button>
<!--            <button type="button" class="layui-btn layui-btn-normal" id="run">运行(测试)</button>-->
        </div>
    </div>
</form>

<div class="layui-form-item layui-form json-height" style="display: none"></div>


<script type="application/javascript" src="/static/js/case_json_edit.js"></script>
<script type="application/javascript" src="/static/js/jsonshow.js"></script>
<script type="application/javascript" src="/static/js/libs.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , layedit = layui.layedit
            , laydate = layui.laydate;

        function get_service_by_business(bus){
            $.ajax({
                type: 'GET',
                url: '/service/list?business='+bus,
                success: function (data) {
                    // $("#City").html("");
                    $.each(data.data, function(key, val) {
                        let option1;
                        if(val["service_name"] === '{{.a.ServiceName}}'){
                            // option1 = $("<option>").val(val["id"]+";"+val["service_name"]).text(val["service_name"]);
                            option1 = '<option selected value='+val["id"]+";"+val["service_name"]+'>'+val["service_name"]+'</option>'
                        }else{
                            option1 = $("<option>").val(val["id"] + ";" + val["service_name"]).text(val["service_name"]);
                        }
                        $("#services").append(option1);
                        form.render('select');
                    });
                }
            });
        }

        let obj
        let first_business
        $(function () {
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: "/business/get_user_businesses",
                async: false,
                timeout: 500000,
                success: function (data) {
                    var date = data.data.businesses
                    $.each(date, function (n, val) {
                        let option1;
                        if(val["name"] === "{{.a.BusinessName}}"){
                            first_business = val["code"]
                            option1 = '<option selected value=' + val["code"] + '>' + val["name"] + '</option>';
                        }else{
                            option1 = '<option value=' + val["code"] + '>' + val["name"] + '</option>';
                        }
                        $("#business").append(option1);
                        form.render('select');
                    })
                }
            })
            get_service_by_business(first_business)
            obj = JSON.parse($("#smoke_response").val())
            var body = JSON.stringify(obj, undefined, 4)
            document.getElementById("response_param").appendChild(document.createElement('pre')).innerHTML = syntaxHighlight(body);
        });

        $(document).on('click', '#test', function () {
            var request_param = $("#request_param").val()
            var request_url = $("#api_url").val()
            if(request_param === "" || request_url === ""){
                layer.msg("请求地址和请求参数不能为空")
                return
            }
            layer.msg('手动获取冒烟数据，将清空当前页面展示的组合校验点', {
                time: 20000, //20s后自动关闭
                btn: ['知道了', '手滑了']
                ,yes: function(){
                    layer.closeAll();
                    $.ajax({
                        type: 'POST',
                        contentType: "application/x-www-form-urlencoded",
                        dataType: "json",
                        url: "/auto/perform_smoke",
                        async: false,
                        timeout: 500000,
                        data: {
                            "api_url":request_url,
                            "parameter":request_param
                        },
                        success:function (data){
                            $("#response_param").text("")
                            $("#response_param_tip").text("当前值为主动获取的冒烟数据")
                            $("#smoke_response").val(data.data.body)
                            try {
                                obj = JSON.parse(data.data.body)
                            }
                            catch(err){
                                alert("冒烟失败 - " +data.data.httpCode + "--" + err)
                                return
                            }
                            var body = JSON.stringify(obj, undefined, 4)
                            document.getElementById("response_param").appendChild(document.createElement('pre')).innerHTML = syntaxHighlight(body);
                        }
                    });
                    /** 触发填充 **/
                    $(".json-height").html("")
                    $(".json-height").append(pre)
                    // alert(res)
                    $.each(analysisJson(obj), function(i,v){
                        $(".json-height").find("#json_head").append('<option value='+v+'>'+ v+'</option>')
                    });
                    form.render()
                    form.render("select")
                }
                ,btn2: function(){
                    layer.closeAll();
                }
            });
        });

        // 获取业务线下对应的service
        form.on('select(business)', function (data) {
            $("#services").children().remove()
            get_service_by_business(data.value)
        });

        form.render()
        $(document).on('click', '#run', function () {
            var arr = new Array()
            arr.push(parseInt("{{.a.Id}}"))
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                url: "/auto/perform_tests",
                async: false,
                timeout: 500000,
                data: JSON.stringify({
                    "ids": arr,
                })
            })
            window.location.href = "/report/show_run_record"
        });

        $(document).on('click', '#edit_point', function () {
            if (obj === undefined) {
                layer.msg("请先获取调试的返回数据")
                return
            }
            else{
                layer.open({
                    type: 1 //此处以iframe举例
                    ,title: '校验点配置'
                    ,area: ['1400px', '300px']
                    ,shade: 0
                    ,maxmin: true
                    ,offset: "lb"
                    ,content: $(".json-height")
                    ,btn: ['保存并关闭'] //只是为了演示
                    ,yes: function(){
                        const result_list = new Array()
                        $(".json-nb").each(function (){
                            let node = ""
                            $(this).find(".data_block").find("option:selected").each(function (){
                                node = node + $(this).text() +"."
                            });
                            node = node.substring(0,node.length-1)
                            const checkType = $(this).find("#check_type").find("option:selected").text();
                            const value = $(this).find("#value").val();
                            const valueType = $(this).find("#value_type").find("option:selected").text();
                            const now = {"node":node,"checkType":checkType, "value":value, "valueType":valueType}
                            result_list.push(now)
                        });
                        // 组合校验点变成json-path
                        const result = generateJsonPath(result_list, obj)
                        if(result.code === -1){
                            alert(result.msg)
                            return
                        }
                        $("#check_point").val(JSON.stringify(result.data))
                        layer.closeAll();
                    }
                    ,zIndex: layer.zIndex //重点1
                    ,success: function(layero){
                        layer.setTop(layero); //重点2
                    }
                });

                layer.open({
                    type: 1 //此处以iframe举例
                    ,title: 'response数据（位置固定，无法拖动，可以滚动）'
                    ,area: ['500px', '600px']
                    ,shade: 0
                    ,fixed:true
                    ,maxmin: true
                    ,move:false
                    ,offset: "rt"
                    ,content: $("#response_param")
                    ,success: function(layero){
                        layer.setTop(layero); //重点2
                    }
                });
            }
        });
    });


</script>

<style>
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
    #response_param::-webkit-scrollbar {
        display: none;}
</style>

</body>