{{template "head.html" .}}


<form class="layui-form" action="" id="test_service" style="display: none">
    <div class="layui-form-item">
        {{range .services}}
        <div class="layui-input-inline">
            <input type="checkbox" name="service" title={{.ServiceName}} value={{.ServiceName}}>
        </div>
        {{end}}
    </div>
</form>

<div style="margin:1%">
<div style="text-align:right">
    <button class="layui-btn open_service_list" >按服务执行</button>
    <button class="layui-btn add_case" >添加用例</button>
</div>

<table class="layui-table" lay-filter="demo" id="idTest"></table>

<div class="layui-btn-group demoTable" style="margin-left:47%">
    <button class="layui-btn layui-bg-blue"  data-type="getCheckData">运行选中测试用例</button>
</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="run">运行</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/static/layui/layui.js" charset="utf-8"></script>

<script>
    layui.use(['table','laytpl','form'], function(){
        const table = layui.table;
        const form = layui.form;
        //表格渲染
        table.render({
            elem:'#idTest'
            ,url:'/case/get_all_cases?business={{.business}}'
            ,page:true
            ,cols:[[
                {type:"checkbox",fixed:'left'},
                {title: 'ID', field:'id', width:80, sort: true, fixed: true},
                {title: '业务线', field:'business_name', width:100},
                {title: '服务名称', field:'service_name', width:150},
                {title: '用例名称', field:'case_name', width:200},
                {title: '用例描述', field:'description'},
                {title: '添加人', field:'author', width:150},
                {title: '接口数据', field:'api_url',templet:function (d){
                        return '<div><span title="'+d.api_url+'">'+d.api_url+'</span></div>'
                    }},
                {title: '请求方式', field:'request_method',width:100},
                {title: '操作', fixed:"right",toolbar:'#barDemo', width:200},
            ]]
        })

        //监听表格复选框选择
        // table.on('rowDouble(demo)', function(obj){
        //     var data = obj.data;
        //     window.location.href="/case/show_edit_case?id="+data.id+"&business={{.business}}"
        // });

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    // obj.del();
                    $.ajax({
                        type: 'POST',
                        url: "/case/del_one_case",
                        async:false,
                        timeout : 500000,
                        data: {
                            "id": data.id,
                        }
                    });
                    layer.close(index);
                    window.location.reload()
                });
            } else if(obj.event === 'edit'){
                window.location.href="/case/show_edit_case?id="+data.id+"&business={{.business}}"
            } else if(obj.event === "run"){
                var arr = new Array()
                arr.push(data.id)
                // alert(arr)
                var needJump = true
                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    dataType:"json",
                    url: "/auto/perform_tests",
                    async:false,
                    timeout : 500000,
                    data: JSON.stringify({
                        "ids": arr,
                        "business":'{{.business}}'
                    }),
                    success: function (data) {
                        respCode = data.code
                        if (respCode == -1) {
                            needJump = false
                            layer.msg(data.msg)
                        }
                    }
                })
                if (needJump) {
                    window.location.href="/report/show_run_record";
                }
            }
            layui.close(obj);
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest'),
                    data = checkStatus.data,
                    arr_id = new Array();
                for(var i = 0;i<data.length;i++){
                    arr_id.push(data[i].id)
                }
                // alert(arr_id)
                // 提交列表形式的id
                var needJump = true
                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    dataType:"json",
                    url: "/auto/perform_tests",
                    async:false,
                    timeout : 500000,
                    data: JSON.stringify({
                        "ids": arr_id,
                    }),
                    success: function (data) {
                        respCode = data.code
                        if (respCode == -1) {
                            needJump = false
                            layer.msg(data.msg)
                        }
                    }
                })
                if (needJump) {
                    window.location.href="/report/show_run_record";
                }
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $(document).on("click",".add_case", function (){
           window.location.href= "/case/show_add_case"
        });


        $(document).on("click", ".open_service_list" , function (){
            layer.open({
                type: 1 //此处以iframe举例
                ,title: '选择服务'
                ,area: ['600px', '400px']
                ,shade: 0
                ,maxmin: true
                ,offset: "rt"
                ,content: $("#test_service")
                ,btn: ['执行'] //只是为了演示
                ,yes: function (){
                    var arr_box = [];
                    $('input[type=checkbox]:checked').each(function() {
                        arr_box.push($(this).val());
                    });
                    alert(arr_box);
                    // 将服务信息提交给服务端进行测试

                }
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                }
            });
        });
    });
</script>
</div>
</body>
</html>

<style>
    .layui-table-grid-down {
        display: none;
    }
</style>