{{template "head.html" .}}

<!--<p1>-->
<!--    牛逼的 check_points 页面-->
<!--</p1>-->

<form class="layui-form" method="post" action="/auto/check_points" style="margin-top: 2%">
    <div class="layui-form-item">
        <label class="layui-form-label">输入捞取数</label>
        <div class="layui-input-block">
            <input type="text" name="limit" required   placeholder="请输入埋点捞取的个数" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">输入设备did</label>
        <div class="layui-input-block">
            <input type="text" name="did" required   placeholder="请输入设备did" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--    <div class="layui-form-item">-->
    <!--        <label class="layui-form-label">输入</label>-->
    <!--        <div class="layui-input-block">-->
    <!--            <input type="text" name="did" required   placeholder="请输入设备did" autocomplete="off" class="layui-input">-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">选择业务线</label>
        <div class="layui-input-block">
            <select name="business" lay-verify="required">3
                <option value=""></option>
                <option value="zuiyou">最右</option>
                <option value="zuiyou_lite">皮皮</option>
                <option value="omg">海外</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<fieldset class="layui-elem-field" style="margin: 2%">
    <legend>提交后等待5-6秒，结果看这里</legend>
    <div class="layui-field-box">
        <!--        嘿嘿嘿，{{.result}}-->
        {{range .result}}
        {{range .}}
        <div>{{.}}</div>
        {{end}}
        <hr>
        {{end}}
    </div>
</fieldset>

<script>
    //Demo
    // layui.use('form', function(){
    //     var form = layui.form;
    //
    //     //监听提交
    //     form.on('submit(formDemo)', function(data){
    //         layer.msg(JSON.stringify(data.field));
    //         return false;
    //     });
    // });
</script>


</body>