<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>测试平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon"
          href="https://h5.izuiyou.com/favicon.ico"
          type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <style>
        /*html{*/
        /*    background: url(//static.ixiaochuan.cn/planck/home_background.81871fe3ab.jpg) no-repeat;*/
        /*    background-size: 100% 100%;*/
        /*}*/
    </style>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body style=>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $(function () {
        $.ajax({
            type: 'GET',
            url: "/auto/login_user_detail",
            async: false,
            timeout: 500000,
            success: function (data) {
                var isTester = data.data.isTester
                var menu = "<img src=\"/static/img/zuiyouicon.png\" alt=\"\" style=\"margin-top: -2px;\">";
                if (isTester) {
                    // var option1 = '<dd><a href="/case/show_cases?business='+val["code"]+'" >'+val["name"]+'</a></dd>'
                    menu += "<li class=\"layui-nav-item\" style=\"overflow: visible;z-index: 99999\"><a href=\"javascript:;\">测试用例管理</a><dl class=\"layui-nav-child\" id=\"business_list\"></dl></li>"
                        +"<li class=\"layui-nav-item\" style=\"overflow: visible;z-index: 99999\"><a href=\"javascript:;\">巡检用例管理</a><dl class=\"layui-nav-child\" id=\"inspection_business_list\"></dl></li>"
                        +"<li class=\"layui-nav-item\" id=\"/report/show_run_record\"><a href=\"/report/show_run_record\">报告管理</a></li>"
                        +"<li class=\"layui-nav-item\"><a href=\"/service/index\">服务管理</a></li>"
                        +"<li class=\"layui-nav-item\" id=\"/web_report/show_web_report\"><a href=\"/web_report/allwebreport\">测试报告</a></li>"
                        +"<li class=\"layui-nav-item\" id=\"/web_report/queryEmail\"><a href=\"/web_report/allemail\">邮箱组</a></li>"
                        +"<li class=\"layui-nav-item\"><a href=\"http://172.16.2.86:8094/ \">Case平台</a></li>"+""+""
                }
                menu += "<li class=\"layui-nav-item\" id=\"/load_test/index\"><a href=\"/flowreplay/index\">推荐团队</a></li>"
                menu += "<li class=\"layui-nav-item\" lay-unselect=\"\" style=\"float: right\"><img src=\"//t.cn/RCzsdCq\" class=\"layui-nav-img\"><span class=\"author\">我</span></li>"
                $("#navigation").append(menu);
            }
        })
    })

    layui.use(['element', 'jquery',"layer"], function(){
        var element = layui.element;
        var $ =layui.$;
        var layer = layui.layer;
        element.on('nav(demo)', function(elem){
            layer.msg(elem.text());
        });
        $(function () {
            var url_id = window.location.pathname + window.location.search
            $(document.getElementById(url_id)).addClass("layui-this");
            $.ajax({
                type: 'GET',
                dataType:"json",
                url: "/business/get_user_businesses",
                async:false,
                timeout : 500000,
                success:function (data){
                    var date = data.data.businesses
                    var author = data.data.username
                    $.each(date, function (n, val){
                        var option1 = '<dd><a href="/case/show_cases?business='+val["code"]+'" >'+val["name"]+'</a></dd>'
                        $("#business_list").append(option1);
                        $(".author").text(author)
                    })
                }
            })
        });
    });
    layui.use(['element', 'jquery',"layer"], function(){
        var element = layui.element;
        var $ =layui.$;
        var layer = layui.layer;
        element.on('nav(demo)', function(elem){
            layer.msg(elem.text());
        });
        $(function () {
            var url_id = window.location.pathname + window.location.search
            $(document.getElementById(url_id)).addClass("layui-this");
            $.ajax({
                type: 'GET',
                dataType:"json",
                url: "/business/get_user_businesses",
                async:false,
                timeout : 500000,
                success:function (data){
                    var date = data.data.businesses
                    var author = data.data.username
                    $.each(date, function (n, val){
                        var option1 = '<dd><a href="/inspection/show_cases?business='+val["code"]+'" >'+val["name"]+'</a></dd>'
                        $("#inspection_business_list").append(option1);
                        $(".author").text(author)
                    })
                }
            })
        });
    });
</script>

<ul id="navigation" class="layui-nav" style="background-color: #3081FF;">
{{/*    <img src="/static/img/zuiyouicon.png" alt="" style="margin-top: -2px;">*/}}
{{/*    <li class="layui-nav-item" style="overflow: visible;z-index: 99999">*/}}
{{/*        <a href="javascript:;">测试用例管理</a>*/}}
{{/*        <dl class="layui-nav-child" id="business_list">*/}}
{{/*        </dl>*/}}
{{/*    </li>*/}}
{{/*    <li class="layui-nav-item" style="overflow: visible;z-index: 99999">*/}}
{{/*        <a href="javascript:;">巡检用例管理</a>*/}}
{{/*        <dl class="layui-nav-child" id="inspection_business_list">*/}}
{{/*        </dl>*/}}
{{/*    </li>*/}}
{{/*    <li class="layui-nav-item" id="/report/show_run_record"><a href="/report/show_run_record">报告管理</a></li>*/}}
{{/*    <li class="layui-nav-item"><a href="/service/index">服务管理</a></li>*/}}
{{/*    <li class="layui-nav-item" id="/web_report/show_web_report"><a href="/web_report/allwebreport">测试报告</a></li>*/}}
{{/*    <li class="layui-nav-item" id="/web_report/queryEmail"><a href="/web_report/allemail">邮箱组</a></li>*/}}
{{/*    <li class="layui-nav-item"><a href="http://172.16.2.86:8094/ ">Case平台</a></li>*/}}
{{/*    <li class="layui-nav-item" id="/load_test/index"><a href="/flowreplay/index">推荐团队</a></li>*/}}

{{/*<!--    <li class="layui-nav-item"><a href="/auto/user_index">用户管理</a></li>-->*/}}
{{/*    <li class="layui-nav-item" lay-unselect="" style="float: right">*/}}
{{/*        <img src="//t.cn/RCzsdCq" class="layui-nav-img">*/}}
{{/*        <span class="author">我</span>*/}}
{{/*    </li>*/}}

</ul>

