{{template "head.html" .}}


<form class="layui-form layui-form-pane" style="padding: 1%">

    <input type="text" style="display: none" name="id" class="_id" value={{.a.Id}} >
    <input type="text" name="api_name" value="api_name" style="display: none">
    <input type="text" name="level" value="none" style="display: none">
    <!--    冒烟数据在这里，修改和展示都在这 默认隐藏 调试可以展开-->
    <input type="text" name="smoke_response" id="smoke_response" readonly style="display: none" value="{{.a.SmokeResponse}}">

    <!--    <input type="text" name="id" value="0" style="display: none">-->
    <!--    <input type="text" name="created_at" value="none" style="display: none">-->
    <!--    <input type="text" name="updated_at" value="none" style="display: none">-->

    <input name="test_case_id" value="{{.a.Id}}" hidden>

    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">业务-服务</label>
            <div class="layui-input-inline">
                <input type="text" name="author" readonly lay-verify="required" autocomplete="off" placeholder="请输入标题"
                       class="layui-input" value={{.a.BusinessName}} >
            </div>
            <div class="layui-input-inline">
                <input type="text" name="author" readonly lay-verify="required" autocomplete="off" placeholder="请输入标题"
                       class="layui-input" value={{.a.ServiceName}} >
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">添加人</label>
            <div class="layui-input-block">
                <input type="text" name="author" readonly lay-verify="required" autocomplete="off" placeholder="请输入标题"
                       class="layui-input" value={{.a.Author}} >
            </div>
        </div>
        <!-- 巡检策略 -->
        <div class="layui-inline">
            <label class="layui-form-label">巡检策略</label>
            <div class="layui-input-block">
                <input type="text" name="author" readonly lay-verify="required" autocomplete="off" placeholder="请输入标题"
                       class="layui-input" value={{.a.Strategy}}>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用例名称</label>
        <div class="layui-input-block" style="width: 50%">
            <input type="text" name="case_name" lay-verify="required" readonly autocomplete="off" placeholder="请输入标题" class="layui-input"
                   value= {{.a.CaseName}} >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用例描述</label>
        <div class="layui-input-block" style="width: 50%">
            <input type="text" readonly lay-verify="required" autocomplete="off" class="layui-input" value={{.a.Description}}>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">请求</label>
        <div class="layui-input-inline" >
            <input type="text" readonly lay-verify="required" autocomplete="off" class="layui-input" value={{.a.RequestMethod}}>
        </div>

        <div class="layui-input-inline">
            <input type="text" name="domain" id="HandoverCompany" placeholder="请输入或选择域名"
                   class="layui-input" style="position:absolute;z-index:2;width:83%;" lay-verify="required"
                   onkeyup="search()" autocomplete="off" value={{.a.Domain}}>
            <input type="text" id="hc_select" lay-filter="hc_select" autocomplete="off" class="layui-select" lay-search></input>
        </div>

        <div class="layui-input-inline" style="width: 45%">
            <input type="text" id="api_url" name="api_url" lay-verify="required"
                   placeholder="例:http://api.izuiyou.com/index/recommend" autocomplete="off" class="layui-input" value={{.a.ApiUrl}}>
        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 45%;">
            <label class="layui-form-label">请求参数</label>
            <div class="layui-input-block" >
            <textarea placeholder="请输入内容" readonly style="height: 200px" class="layui-textarea" lay-verify="required"
                      name="parameter" id="request_param">{{.a.Parameter}}</textarea>
            </div>
        </div>
        <div class="layui-inline" style="width: 45%; float:right; margin-right: 8%">
            <span id="response_param_tip">当前值为上次入库的冒烟数据</span>
            <div class="layui-input-block" id="response_param" style="height:450px;overflow: scroll;"></div>
        </div>

        <div class="layui-inline" style="width: 45%;">
            <label class="layui-form-label">检查点</label>
            <div class="layui-input-block">
            <textarea readonly class="layui-textarea" style="height: 200px" id="check_point"
                      name="check_point" lay-verify="required">{{.a.Checkpoint}}</textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
<!--            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交修改</button>-->
            <!--            <button type="button" class="layui-btn layui-btn-normal" id="run">运行(测试)</button>-->
        </div>
    </div>
</form>

<div class="layui-form-item layui-form json-height" style="display: none"></div>


<script type="application/javascript" src="/static/js/case_json_edit.js"></script>
<script type="application/javascript" src="/static/js/jsonshow.js"></script>
<script type="application/javascript" src="/static/js/libs.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery


        let obj
        let first_business

        /** ----------------------------分隔符---------------------------**/

        /** 默认执行 **/

        $(function () {
            /** todo -- 填充domain input框**/

            /** 格式化数据库冒烟数据到前端展示**/
            try {
                obj = JSON.parse($("#smoke_response").val())
            }
            catch(err){
                alert("格式化库中的冒烟数据失败 - " + err)
                return
            }
            var body = JSON.stringify(obj, undefined, 4)
            document.getElementById("response_param").appendChild(document.createElement('pre')).innerHTML = syntaxHighlight(body);

            /**
             * 给第一个下拉框填上默认的第一组json数据
             */

            // $.each(analysisJson(obj).keys, function(i,v){
            //     $("#json_head").append('<option value='+v+'>'+ v+'</option>')
            // });

            /** 返回数据映射填充 **/
            const js_list = $("#check_point").val()
            const res = analysisJsonPath(JSON.parse(js_list))
        });
    });


</script>

<style>
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
    #response_param::-webkit-scrollbar {
        display: none;}
</style>

</body>