{{template "head.html" .}}
<div style="padding-top: 50px; padding-left: 200px; padding-right: 300px">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>每周接口数据统计</legend>
    </fieldset>
</div>


<div style="padding-top: 20px; padding-left: 200px; padding-right: 300px">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>统计周期：{{.check_time}} ----  {{.now_time}}</legend>
    </fieldset>
    <table id="demo" lay-filter="test" style="margin-top: 50px ;width:110%"> </table>
</div>
{{/*<table id="demo" lay-filter="test" style="margin-top: 50px ;width:110%"> </table>*/}}

<script src="/layui/layui.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 270
            ,url: '/statistics/get_all_data'//数据接口
            ,page: false //开启分页
            ,cols: [[ //表头
                {field: 'business_name', title: '业务线' }
                ,{field: 'new_case_count', title: '本周新增case数',style:'background-color:#5FB878'}
                ,{field: 'all_case_count', title: '全部case数',style:'background-color:#5FB878'}
                // ,{field: 'new_api_count', title: '本周新增接口数',style:'background-color:#FAEBD7'}
                // ,{field: 'all_api_count', title: 'case覆盖总接口', sort: true,style:'background-color:#FAEBD7'}
                ,{field: 'all_api', title: '活跃接口数',  sort: true}
                ,{field: 'un_use_api', title: '废弃接口数',  sort: true}
                ,{field: 'degree_of_completion', title: '接口完成度',sort: true}
                ,{field: 'last_week_degree_of_completion', title: '上周接口完成度',sort: true}
            ]]
            ,done:function () {
                $(".layui-input-date").each(function (i) {
                    layui.laydate.render({
                        elem: this,
                        format: "yyyy-MM-dd",
                        done: function (value, date) {
                            if (res && res.data[i]) {
                                $.extend(res.data[i], {'rise_count': value})
                            }
                        }
                    });
                });
                layer.closeAll();
            }
        });

    });
</script>