{{template "head.html" .}}
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;

        /** 表格加载 begin */
        window.edit = function (id, mobile, business) {
            layer.open({
                title: "编辑",
                type: 1,
                content: $('#add-main'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                // content: url,
                area: ['800px', '600px'],
                btn: ['保存', '取消'],
                success: function () {
                    // // 初始化下拉框
                    // initSelectByMock()
                    // // 原始值初始化
                    // $.ajax({
                    //     url: "/service/getById?id=" + id,
                    //     type: "GET",
                    //     dataType: "json",
                    //     success: function (data) {
                    //         var code = data.code
                    //         var res = data.data
                    //         if (code != 200) {
                    //             layer.msg(data.msg)
                    //         } else {
                    //             $("#id").val(res.id)
                    //             $("#form_service_name").val(res.service_name)
                    //             var business = res.business
                    //             $("#form_business").find("option[value=" + business + "]").prop("selected", true);
                    //             form.render("select");
                    //         }
                    //     }
                    // });
                    $("#id").val(id);
                    $("#mobile").val(mobile);
                    $("#business").val(business);
                },
                yes: function (index) {
                    // 保存按钮的回调
                    var id = $("#id").val()
                    var mobile = $("#mobile").val()
                    var business = $("#business").val()
                    var data
                    if (id == "") {
                        data = {mobile: mobile, business: business}
                    } else {
                        data = {id: id, mobile: mobile, business: business}
                    }
                    $.ajax({
                        url: "/auto/update_user",
                        type: "POST",
                        async: false,
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            var code = data.code
                            if (code != 200) {
                                layer.msg(data.msg)
                            } else {
                                $("#add-main").css("display", "none")
                                layer.close(index)
                                window.parent.location.reload();
                            }
                        }
                    });
                },
                btn2: function (index) {
                    // 取消按钮的回调
                    $("#add-main").css("display", "none")
                    layer.close(index)
                },
                cancel: function (index) {
                    $("#add-main").css("display", "none")
                    layer.close(index)
                    return false;
                }
            });
        }

        //第一个实例
        table.render({
            elem: '#user'
            // ,height: auto
            , url: '/auto/user_list' //数据接口
            , page: true //开启分页
            , limit: 10
            , cols: [[ //表头
                // {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', fixed: 'left', fixed: true}
                , {field: 'user_name', title: '用户名', fixed: true}
                , {field: 'business', title: '业务线', fixed: true}
                , {field: 'email', title: '邮箱', fixed: true}
                , {field: 'mobile', title: '手机号', fixed: true}
                , {title: '操作', fixed: 'right', align: 'center', toolbar: '#userOp'}
            ]]
            , done: function (res, curr, count) {
                var businessMap = {}
                // 去加载业务线全量数据，用来映射表格中的业务线值
                $.ajax({
                    url: "/service/business",
                    type: "GET",
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        $.each(data.data, function (index, value) {
                            businessMap[value.code] = value.name;
                        })
                    }
                })
                // 如果是异步请求数据方式，res即为你接口返回的信息。
                // 如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                $("[data-field='business']").children().each(function () {
                    var businessCode = $(this).text()
                    var businessName = businessMap[businessCode];
                    $(this).text(businessName)
                });
            }
        });
        /** 表格加载 end */

        //监听表格复选框选择
        table.on('checkbox(userTest)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(userTest)', function (obj) {
            var data = obj.data;
            var param = {id: data.id}
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: "/auto/delete_user",
                        contentType: "application/json;charset=utf-8",
                        async: false,
                        data: JSON.stringify(data),
                    });
                    layer.close(index);
                    window.location.reload()
                });
            } else if (obj.event === 'edit') {
                edit(data.id)
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('user'),
                    data = checkStatus.data,
                    arr_id = [];
                for (var i = 0; i < data.length; i++) {
                    arr_id.push(data[i].id);
                }
                // 提交列表形式的id
                // $.ajax({
                //     url:
                // })
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('user')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('user');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    })
    ;
</script>
<div style="margin:1%">
    <table id="user" lay-filter="userTest"></table>

    <script type="text/html" id="userOp">
        <button type='button' class='layui-btn layui-btn-normal' lay-event="edit">编辑</button>
        <button type='button' class='layui-btn layui-btn-danger' lay-event="del">删除</button>
    </script>
</div>
<!-- 构建form表单 -->
<div id="add-main" style="display: none">
    <form id="service" class="layui-form" method="post" action="/service/save">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="text" id="id" name="id" hidden/>
            </div>
        </div>
        <div class="layui-form-item" style="width: 350px">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="text" id="mobile" name="mobile" required lay-verify="required"
                       placeholder="请输入服务名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="width: 350px">
            <label class="layui-form-label">业务线</label>
            <div class="layui-input-block">
                <select id="business" name="business" value="" required lay-verify="required">
                    <option value="">请选择业务线</option>
                </select>
            </div>
        </div>
    </form>
</div>
</body>
</html>