<!--<html lang="en">-->
<head>
    <meta charset="utf-8">
    <title>测试平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon"
          href="https://h5.izuiyou.com/favicon.ico"
          type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<form class="layui-form layui-form-pane"  style="padding: 1%">
    <div style="margin-left:20%; margin-top: 10px;">
        <div class="layui-form-item "; style="width: 70%;">
            <label class="layui-form-label"; style="width:110px";>报告名称</label>
            <div class="layui-input-block">
                <input  type="text"  id="name" lay-verify="required" readonly autocomplete="off" value="{{ .data.Name }}" readonly class="layui-input" style="width: 100%">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-inline" style="width: 70%;">
                <label class="layui-form-label">质量说明</label>
                <div class="layui-input-block" >
                <textarea style="height: 200px" class="layui-textarea" id="describe" lay-verify="required" readonly>{{ .data.Describe }}</textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-inline" style="width: 70%;">
                <label class="layui-form-label">项目遗留问题</label>
                <div class="layui-input-block">
                    <textarea style="height: 200px" class="layui-textarea" id="xmyl" lay-verify="required" readonly>{{ .data.Xmyl }}</textarea>
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <div class="layui-inline" style="width: 70%;">
                <label class="layui-form-label">技术指标</label>
                <div class="layui-input-block">
                        <textarea style="height: 200px" class="layui-textarea" id="jszb" lay-verify="required" readonly>{{ .data.Jszb }}</textarea>
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <div class="layui-inline" style="width: 70%;">
                <label class="layui-form-label">发布风险及灰度计划</label>
                <div class="layui-input-block" >
                <textarea style="height: 200px" class="layui-textarea"
                          id="fx" lay-verify="required" readonly>{{ .data.Fx }}</textarea>
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <div class="layui-inline" style="width: 70%;">
                <label class="layui-form-label">具体质量指标</label>
                <div class="layui-input-block" >
                <textarea  style="height: 200px" class="layui-textarea" id="zb" lay-verify="required" readonly>{{ .data.Zb }}</textarea>
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <div class="layui-inline" style="width: 70%;">
                <label class="layui-form-label">其他说明</label>
                <div class="layui-input-block" >
                <textarea  style="height: 200px" class="layui-textarea" id="sm" lay-verify="required" readonly>{{ .data.Sm }}</textarea>
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <div class="layui-inline" style="width: 70%;">
                <label class="layui-form-label">接收人</label>
                <div class="layui-input-block" >
                <textarea style="height: 200px" class="layui-textarea" id="recipient" lay-verify="required" readonly>{{ .data.Recipient }}</textarea>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>