{{template "head.html" .}}

<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>web_report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="ajax方式">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<form class="layui-form layui-form-pane"  style="padding: 1%">
<div style="margin-left:20%; margin-top: 10px;">
    <div class="layui-form-item "; style="width: 70%;">
        <label class="layui-form-label"; style="width:110px";>报告名称</label>
        <div class="layui-input-block">
            <input  type="text"  id="name" lay-verify="required" autocomplete="off" class="layui-input" style="width: 100%">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 70%;">
            <label class="layui-form-label">质量说明</label>
            <div class="layui-input-block" >
                <textarea  style="height: 200px" class="layui-textarea"
                          id="describe" lay-verify="required"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 70%;">
            <label class="layui-form-label">项目遗留问题</label>
            <div class="layui-input-block">
                    <textarea style="height: 200px" class="layui-textarea" id="xmyl" lay-verify="required"></textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 70%;">
            <label class="layui-form-label">技术指标</label>
            <div class="layui-input-block">
                        <textarea style="height: 200px" class="layui-textarea" id="jszb" lay-verify="required"></textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 70%;">
            <label class="layui-form-label">发布风险及灰度计划</label>
            <div class="layui-input-block" >
                <textarea style="height: 200px" class="layui-textarea"
                          id="fx" lay-verify="required"></textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 70%;">
            <label class="layui-form-label">具体质量指标</label>
            <div class="layui-input-block" >
                <textarea style="height: 200px" class="layui-textarea"
                          id="zb" lay-verify="required"></textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 70%;">
            <label class="layui-form-label">其他说明</label>
            <div class="layui-input-block" >
                <textarea style="height: 200px" class="layui-textarea" id="sm" lay-verify="required"></textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 70%;">
            <label class="layui-form-label">接收人</label>
            <div class="layui-input-block" >
                <textarea placeholder="格式：xxx2014@xiaochuankeji.cn注多个收件人用;隔开" style="height: 200px" class="layui-textarea"
                          id="recipient" lay-verify="required"></textarea>
            </div>
        </div>
    </div>
    <div style="size:5px;color: #cc0000">
        * 请到自己邮箱查看发送结果~*
    </div>
</div>
</form>
<div style="width: 100px; margin: 0 auto; padding-bottom: 50px">
    <button id="submit" type="submit" class="layui-btn layui-btn-normal" style="width: 100%;" onclick="submit()">提交</button>
</div>
<script type="text/javascript">
    function submit() {
        // 非空校验
        if(!$("#name").val()){
            alert("请输入项目名称");
            return;
        }
        if(!$("#describe").val()){
            alert("请输入项目描述");
            return;
        }
        if($("#xmyl").val()==""){
            alert("请输入遗留问题");
            return;
        }
        if($("#jszb").val()==""){
            alert("请输入技术指标");
            return;
        }
        if($("#fx").val()==""){
            alert("请输入发布风险及灰度计划");
            return;
        }
        if($("#zb").val()==""){
            alert("请输入具体质量指标");
            return;
        }


        // 提交输入内容
        const submitData = {
            name:$("#name").val(),
            describe:$("#describe").val(),
            xmyl:$("#xmyl").val(),
            jszb:$("#jszb").val(),
            fx : $("#fx").val(),
            zb:$("#zb").val(),
            sm:$("#sm").val(),
            recipient:$("#recipient").val()
        }
        $.ajax({
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/web_report/submit" ,//url
            // data: $('#form1').serialize(),
            data:submitData,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 0) {
                    alert("SUCCESS");
                }
                window.location.href = '/web_report/queryAll'
            },
            error : function() {
                alert("异常！");
            }
        });

    }
    //定义跳转历史报告页面
    const  query = () => {
        // window.open('/web_report/queryAll1')
        window.location.href = '/web_report/queryAll'
    }
</script>


</body>
</html>