<head>
    <meta charset="utf-8">
    <title>测试平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon"
          href="https://h5.izuiyou.com/favicon.ico"
          type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<form class="layui-form layui-form-pane"  style="padding: 1%; margin: 0 auto;width:400px;">
    <div style="margin: 0 auto; margin-top: 10px; ">
        <div class="layui-form-item "; style="width: 100%;">
            <label class="layui-form-label"; style="width:110px";>邮箱组名称</label>
            <div class="layui-input-block">
                <input  type="text"  id="name" lay-verify="required" readonly autocomplete="off" value="{{ .data.EmailName }}"class="layui-input" style="width: 100%">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-inline" style="width: 100%;">
                <label class="layui-form-label">邮箱组成员</label>
                <div class="layui-input-block" >
                    <textarea style="height: 200px" class="layui-textarea" id="describe" readonly lay-verify="required" >{{ .data.Emailrecipient }}</textarea>
                </div>
<!--                <button id="submit" type="submit" class="layui-btn layui-btn-normal" style="width: 100%;" onclick="save()">保存</button>-->
            </div>
        </div>
    </div>
</form>

</body>
</html>